
@{
    ViewBag.Title = "Cinito, tu tienda de peliculas";
    //ViewBag.Genero = "Cinito, tu tienda de peliculas";
}

<h2>Generos</h2>
<ul>
    <li>@Html.ActionLink("Acción", "Index", "Accion")</li>
    <li>@Html.ActionLink("Drama", "Index", "Drama")</li>
    <li>@Html.ActionLink("Infantil", "Index", "Infantil")</li>
    <li>@Html.ActionLink("Suspenso", "Index", "Suspenso")</li>
    <li>@Html.ActionLink("Terror", "Index", "Terror")</li>
</ul>

